* {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "League Spartan";
  src: url(./assets/fonts/LeagueSpartan-Black.ttf);
}

body {
  font-family: "League Spartan";
}
